<?xml version="1.0"?>
<!--
/**
 * Vtn_Datacap 
 * @category VTN
 * @package Vtn_Datacap
 * @version 1.0.0
 * @author VTNetzwelt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="datacap" frontName="datacap">
            <module name="Vtn_Datacap" />
        </route>
    </router>
</config>
